{% load static %}
<!DOCTYPE html>
<html>
<head>
  <title>Login Page</title>
  <link rel="stylesheet" type="text/css" href="{% static 'css/login.css' %}">

  <!-- <link rel="stylesheet" href="{% static 'index.css' %}"> -->
</head>
<style>
  

</style>
<body>
  <div class="container">
    <h2>Login</h2>
    
    <form action="{% url 'dashboard' %}" method="POST">
      {% csrf_token %}
      <label for="username">Username:</label>
      <input type="text" id="username" name="username" required>
      <label for="password">Password:</label>
      <input type="password" id="password" name="password" required>
      <input type="submit"  value="Login">
    </form>
    <div class="forgot-password">
      <a href="#">Forgot password?</a>
    </div>
    <div class="google-signin">
      <strong>
        <img src="https://www.gstatic.com/firebasejs/ui/2.0.0/images/auth/google.svg" alt="Google Logo" height="20">
        Sign in with Google
      </strong>
    </div>
  </div>
</body>
</html>
