{% load static %}
<link rel="stylesheet" href="{% static 'dashboard/navbar.css' %}">

<div class="sidebar">
    <div class="logo">
        <img src="{% static 'dashboard/logo.png' %}" alt="Logo">
        <h2>EVENTS-PORTAL</h2>
    </div>
    <nav class="nav-links">
        <a href="{% url 'dashboard' %}"  class="{% if page_title == 'Dashboard' %}active{% endif %}">Dashboard</a>
        <a href="{% url 'ira' %}" class="{% if page_title == 'ira' %}active{% endif %}">IRA</a>
        <a href="{% url 'events_registered' %}"class="{% if page_title == 'events_registered' %}active{% endif %}">Events Registered</a>
    </nav>
    <div class="logout">
        <a href="{% url 'logout' %}">Logout</a>
    </div>
</div>

